
body{
    background: rgb(0,14,208);
    background: linear-gradient(86deg, rgba(0,14,208,1) 0%, rgba(255,0,0,1) 100%);
    font-family: monospace;
    
}

#container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90vh;
    max-width: 750px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);

}



#container h1,h2,p{
    text-align: center;
    color:#2FFF57;
    
}

#container h1{
    padding-top: 2%;
    animation: color-switch 500ms infinite;
}

#container h2{
    animation: color-switch 500ms infinite;
    padding-bottom: 5%;
}

@keyframes color-switch{
    0%{color:#2FFF57;}
    50%{color:#C70039;}
    100%{color:#2FFF57;}
}

#container p{
    padding-top: 5%;
    font-size: 1.3em;
    color:#2FFF57;
}

#container #contanier-img{

    margin: auto;
    display:flex;
    width: 98%;
    height: 40%;
    background-color: white;



}

#container #contanier-img #imges{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    flex-shrink:5;
    background-image: url("../img/img-ex-click-jump.jpg") ;
    background-repeat: no-repeat;

}

#container #contanier-buttons{
    display:flex;
    width: 100%;
    height: 8%;
}

#container #contanier-buttons .button{
    background-color: #121212;
    color: #2FFF57;
    width: 15%;
    min-width: 100px;
    height: 70%;
    font-size: 1.5em;
    margin: auto;

}

#container #contanier-buttons .button:hover{
    background-color: #2FFF57;
    color: #121212;
    
}

#container #start{

    width: 10%;
    height: 8%;
    margin: auto;
    border-radius: 50%;
    background-color:  #121212;
    color:white;
    border: 2px solid red;

}

#container #start:hover{

    background-color:  red;
    color:#121212;
}