
.contanier{ 
    border: 5px solid black;
    margin: auto;
    width: 900px;
    height: 800px;
    background-color: antiquewhite;
    position: relative;
    overflow: hidden;

    
}

.contanier #ground{
    width: 2000px;
    height: 10%;
    top: 90%;
    left: 0%;
    background-color: black;
    position: absolute;

}

@keyframes ground{
    0%{left:0%}
    100%{left: -100%}
}

.contanier #abyss{
    position: absolute;
    width:  12%;
    height: 30%;
    background-color: antiquewhite;
    top: 79%;
    left: 100%;
    animation: abyss 5000ms infinite;
}

@keyframes abyss{
    0%{left:100%}
    100%{left: -10%}
}





.contanier #main-char{
    background-image: url("../img/main-char.png") ;
    position: absolute;
    top: 79%;
    left: 1%;
    width: 10%;
    height: 15%;
    z-index: 1;
    background-repeat: no-repeat;
   
    
}


@keyframes main_char_moving{
    0%{background-image: url("../img/main-char.png") ;}
    50%{background-image: url("../img/main-char-move.png") ;}
    100%{background-image: url("../img/main-char.png") ;}
}



.contanier #target-char{
    background-image: url("../img/main-char.png") ;
    background-repeat: no-repeat;
    position: absolute;
    top: 79%;
    left: 15%;
    width: 10%;
    height: 15%;
    z-index: 1;

}

@keyframes target_char_moving{
    0%{background-image: url("../img/target-char.png") ;}
    50%{background-image: url("../img/target-char-move.png") ;}
    100%{background-image: url("../img/target-char.png") ;}
}


@keyframes jump{

    0%{top: 75%;background-image: url("../img/main-char-move.png")}
    50%{top: 40%;background-image: url("../img/main-char-move.png")}
    100%{top: 75%;background-image: url("../img/main-char-move.png")}
}

.lose{
    animation: lose 500ms;
}

@keyframes lose{
    0%{top: 85%;background-image: url("../img/main-char-move.png")}
    100%{top: 100%;background-image: url("../img/main-char-move.png")}
  
}