body{
    background-color: #121212;
    height: 100vh;
}

.contanier{ 
    border: 5px solid black;
    margin: auto;
    width: 85%;
    height: 780px;
    min-height: 500px;
    background-color: white;
    position: relative;
    overflow: hidden;
    
    
}

@keyframes target_damage{

    0%{background-color: white;}
    50%{background-color: red;}
    100%{background-color: white;}
}




.contanier #ground{
    width: 100%;
    height: 10%;
    max-height: 90px;
    min-height: 90px;
    top: 90%;
    left: 0%;
    background-color: #121212;
    position: absolute;

}





.contanier #abyss{
    position: absolute;
    width:  12%;
    height: 30%;
    max-width: 108px;
    min-width: 108px;
    max-height: 270px;
    min-height: 270px;
    background-color: white;
    top: 79%;
    left: 100%;
    animation: abyss 3000ms infinite;
}

@keyframes abyss{
    0%{left:100%}
    100%{left: -20%}
}






.contanier #main-char{
    background-image: url("../img/main-char.png") ;
    position: absolute;
    top: 79%;
    left: 1%;
    width: 10%;
    height: 15%;
    min-width: 90px;
    min-height: 135px;
    max-width: 90px;
    max-height: 135px;
    z-index: 1;
    background-repeat: no-repeat;
   
    
}

@keyframes main_char_moving{
    0%{background-image: url("../img/main-char.png") ;}
    50%{background-image: url("../img/main-char-move.png") ;}
    100%{background-image: url("../img/main-char.png") ;}
}

@keyframes main-char-jump{

    0%{top: 75%;background-image: url("../img/main-char-move.png")}
    50%{top: 70%;background-image: url("../img/main-char-move.png")}
    100%{top: 75%;background-image: url("../img/main-char-move.png")}
}

@keyframes main-char-double-jump{

    0%{top: 75%;background-image: url("../img/main-char-move.png")}
    50%{top: 50%;background-image: url("../img/main-char-move.png")}
    100%{top: 75%;background-image: url("../img/main-char-move.png")}
}






.contanier #target-char{
    background-image: url("../img/target-char.png") ;
    background-repeat: no-repeat;
    position: absolute;
    top: 79%;
    left: 75%;
    width: 10%;
    height: 15%;
    min-width: 90px;
    min-height: 135px;
    max-width: 90px;
    max-height: 135px;
    z-index: 1;

}

.contanier #target_sensor_toJump{

    width: 12%;
    height: 1%;
    position:absolute;
    top: 89%;
    left: 87%;

}


@keyframes target_char_moving{
    0%{background-image: url("../img/target-char.png") ;}
    50%{background-image: url("../img/target-char-move.png") ;}
    100%{background-image: url("../img/target-char.png") ;}
}


@keyframes target-char-jump{

    0%{top: 75%;background-image: url("../img/target-char-move.png")}
    50%{top: 70%;background-image: url("../img/target-char-move.png")}
    100%{top: 75%;background-image: url("../img/target-char-move.png")}
}





.lose{
    animation: lose 500ms;
}

@keyframes lose{
    0%{top: 85%;background-image: url("../img/main-char-move.png")}
    100%{top: 100%;background-image: url("../img/main-char-move.png")}
  
}

.contanier #serrated{
    width: 6%;
    height: 7%;
    min-width: 54px;
    min-height: 63px;
    max-width: 54px;
    max-height: 63px;
    position:absolute;
    top: 84%;
    left: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/circular-serrated.png")
}


@keyframes serrated-rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


@keyframes serrated-slide{

    0%{left:100%;top:50%}
    20%{left:60%;top:84%}
    100%{left: -100%;}
}

.star-min-size{
    min-width: 48.6px;
    min-height: 54px;
}
.contanier #star{
    width: 5.4%;
    height: 6%;
    position: absolute;
    top: 50%;
    left: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/star.png");
    animation:  random-star 5s infinite;
}

.contanier #star2{
    width: 5.4%;
    height: 6%;
    position: absolute;
    top: 50%;
    left: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/star.png");
    animation:  random-star2 7s infinite;
}

.contanier #star3{
    width: 5.4%;
    height: 6%;
    position: absolute;
    top: 50%;
    left: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/star.png");
    animation:  random-star3 8s infinite;
}

@keyframes random-star{
    0%{left:130%}
    100%{left: -6%}
}

@keyframes random-star2{
    0%{left:150%}
    100%{left: -6%}
}

@keyframes random-star3{
    0%{left:180%}
    100%{left: -6%}
}

.contanier #items{

    width: 10%;
    height: 30%;
    position:absolute;
    max-width: 90px;
    max-height: 270px;
    right: 0%;
    top: 10%;
    display: flex;
    flex-direction: column;
    min-width: 90px;
    min-height: 270px;
}

.contanier #items .item{
    
    width: 90%;
    height: 33%;
    margin: 4% auto;
    
}

.contanier #items #item1{
    background-repeat: no-repeat;
    background-image: url("../img/wooden-box-item1.png");
    background-color: #CCE3A3;

}

.contanier #items #item1:hover{
    background-repeat: no-repeat;
    background-image: url("../img/wooden-box-item1.png");
    border: 3px solid black;

}

.contanier #items #item2{
    background-repeat: no-repeat;
    background-image: url("../img/bar-drop-item2.png");
    background-color: #FF4E43;
    

}

.contanier #items #item2:hover{
    background-repeat: no-repeat;
    background-image: url("../img/bar-drop-item2.png");
    background-color: #FF4E43;
    border: 3px solid black;


}

.contanier #items #item3{
    background-repeat: no-repeat;
    background-image: url("../img/random-item-item3.png");
    background-color: #FFCF43;

}

.contanier #items #item3:hover{
    background-repeat: no-repeat;
    background-image: url("../img/random-item-item3.png");
    background-color: #FFCF43;
    border: 3px solid black;


}


.contanier .main-char-info{
    width: 30%;
    height: 7%;
    position:absolute;
    top: 0%;
    left: 0%;
    display:grid;
    grid-template-rows: auto 60%;
    grid-template-columns: 30% auto;
    grid-gap: 3%;
    margin: 1.5% 0.5%;
    min-width: 220px;
    min-height: 20px;
    max-width: 270px;
    max-height: 63px;
}


.contanier .main-char-info #profile{
    grid-row: 1 / span 2;
    background-repeat: no-repeat;
    background-image: url("../img/main-char-profile.png");
}

.contanier .main-char-info #hp{
    display: grid;
    grid-template-columns: repeat(5 , auto);
    grid-gap: 2%;

}
.contanier .main-char-info #stars{
    display: grid;
    grid-template-columns: 25% auto;
    grid-gap: 2%;
 

}

.contanier .main-char-info #main-point,#main-point2,
#main-point3,#main-point4,#main-point5{

    margin-top: 5%;
    background: linear-gradient(0deg, rgba(0,179,20,1) 0%, rgba(100,203,49,1) 100%);

}

.contanier .main-char-info #stars #stars-icon{

    background-repeat: no-repeat;
    background-image: url("../img/star-icon.png");

}

.contanier .main-char-info #stars #num-stars{

    margin: 5%;
    font-size: 1.5em;
    font-style: bold;
    

}





.contanier .target-char-info{
    width: 30%;
    height: 7%;
    position:absolute;
    top: 0%;
    right: 0%;
    display:grid;
    grid-template-rows: auto 60%;
    grid-template-columns: 30% auto;
    grid-gap: 3%;
    margin: 1.5% 0.5%;
    min-width: 220px;
    min-height: 20px;
    max-width: 270px;
    max-height: 63px;
}


.contanier .target-char-info #target-profile{
    grid-row: 1 / span 2;
    background-repeat: no-repeat;
    background-image: url("../img/target-char-profile.png");
}

.contanier .target-char-info #target-hp{
    display: grid;
    grid-template-columns: repeat(5 , auto);
    grid-gap: 2%;

}

.contanier .target-char-info #target-point,#target-point2,
#target-point3,#target-point4,#target-point5{

    margin-top: 5%;
    background: linear-gradient(0deg, rgba(255,101,101,1) 0%, rgba(203,49,49,1) 100%);

}

.contanier #wooden-box{
    
    width: 9%;
    height: 9%;
    position: absolute;
    top: -10%;
    left: 75%;
    background-repeat: no-repeat;
    background-image: url("../img/wooden-box.png");

 
}

@keyframes wooden-box-drop{

    0%{top:-10%}
    100%{top: 100%}

}

.contanier #bar-drop{
    
    width: 9%;
    height: 9%;
    position: absolute;
    top: -10%;
    left: 75%;
    background-repeat: no-repeat;
    background-image: url("../img/bar.png");

 
}

@keyframes bar-drop{

    0%{top:-10%}
    100%{top: 100%}

}